:root {
  font-size: 62.5%;
}

.clamp {
  height: 300px;
  background-color: tomato;
  width: clamp(300px, 50vw, 750px);
  margin: 0 auto;
}

p {
  font-size: 2.1rem;
  line-height: 1.6em;
  max-width: 75ch;
}

h1 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  width: 30vw;
  min-width: 300px;
  border: 1px solid red;
}

.card img {
  width: 100%;
  aspect-ratio: 16 /9;
  object-fit: cover;
}
