:root {
  font-size: 62.5%;
}

p {
  font-size: 2.1rem;
  line-height: 1.6em;
  max-width: 75ch;
}

h1 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

.card {
  width: 30vw;
  min-width: 300px;
  border: 1px solid hsl(0 30% 75%);
}
.card__img-container {
  overflow: hidden;
}
/* .card:hover {
  width: 40vw;
  transition: 300ms;
} */

.card img {
  width: 100%;
  aspect-ratio: 16 /9;
  object-fit: cover;
  transition: 300ms;
}

.card img:hover {
  transform: scale(1.2);
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: hsl(25, 30%, 47%);
}
form {
  width: fit-content;
  margin: 0auto;
}

label {
  display: grid;
  place-items: center;
  grid-template-areas: 'text';
  font-size: 1.8rem;
}

label p {
  grid-area: text;
  z-index: 100;
  animation: labelAnimation 5000ms infinite both;
  animation-delay: 200ms;
}

@keyframes labelAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

input {
  grid-area: text;
}

.grid-container {
  display: grid;
  grid-template-columns: 100px;
  grid-template-rows: 100px;
  grid-template-areas: 'text';
}

.grid-container p {
  grid-area: text;
}
